:root {
    --color-primary: #279AF1;
    --color-secondary: #F7F7FF;
    --color-button: #60656F;
    --color-border: #60656F;
    --color-button-hover: #FF4A1C;
    --color-text: #131112;
    --color-back: #F7F7FF;
}

/* Estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

/* Banner */
.header-banner {
    flex: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0 0;
}

/* Seção de entrada */
.input-section {
    flex: 60%;
    background-color: var(--color-secondary);
    border-radius: 0 0 0 0;
    display: flex;
    /* border-radius: 40px 40px 0 0; */
    box-shadow: 0px -5px 20px rgba(0, 0, 0, 0.144);
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
}


.header-banner h2 {
    padding-left: 50px;
    padding-top: 20px;
    color: #131112;
    font-style: italic;
    font-weight: 600;
}


#simbolo-feliz {
    color: #F7F7FF;
    padding-left: 160px;
    font-weight: 600;
    font-size: 42px;
    rotate: 90deg;
}

/* Títulos */
.main-title {
    font-size: 48px;
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: italic;
    color: var(--color-back);
}

.section-title {
    font-family: "Inter", serif;
    font-size: 36px;
    font-weight: 700;
    color: var(--color-text);
    margin: 10px 0;
    text-align: center;
}

/* Contêineres de entrada e botão */
.input-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
}

.input-name {
    width: 100%;
    padding: 10px;
    border: 2px solid var(--color-border);
    border-radius: 10px 0 0 10px;
    font-size: 16px;
}

.button-container {
    width: 300px;
    justify-content: center;
}

/* Estilos de entrada de texto */
.input-title {
    flex: 1;
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid;
    border-right: none;
    border-radius: 25px 0 0 25px;
    font-family: "Merriweather", serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Estilos de botão */
button {
    padding: 15px 30px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    border: 2px solid var(--color-border);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.button-add {
    background-color: var(--color-button);
    color: var(--color-back);
    border-radius: 0 10px 10px 0;
}

.button-add:hover {
    background-color: var(--color-button-hover);
    border: 2px solid var(--color-button-hover);
}

#mensagem-deletar {
    margin-top: 10px;
    font-size: 18px;
    color: #FF4A1C;
}


/* Listas */
ul {
    list-style-type: none;
    color: var(--color-text);
    font-family: "Inter", sans-serif;
    font-size: 18px;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
}

#listaAmigos {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 10px;
    column-gap: 40px;
    text-align: center;
}


li {
    margin: 8px;
    font-weight: 700;
    cursor: pointer;
}

li:hover {
    color: #FF4A1C;
}

.result-list {
    margin-top: 15px;
    color: #05913f;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

/* Botão de sortear título */
.button-draw {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 40px;
    color: var(--color-back);
    border: #60656F;
    background-color: var(--color-button);
    font-size: 16px;
}

.button-draw img {
    margin-right: 40px;
}

.button-draw:hover {
    background-color: var(--color-button-hover);
}